/* Reset and base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   position: relative;
  z-index: 1;
  color: white;
  padding: 2rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
 margin-top: 100px;
  padding-top: 1px; 
}
.card{
  background: rgba(255, 255, 255, 0.1); /* White with 10% opacity */
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem 3rem;
  border-radius: 16px;
  backdrop-filter: blur(10px); /* Optional: makes background glassy */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
  width: 52%;

}
ul{
  list-style-type: none;
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1; /* Keep it behind all other content */
  object-fit: cover;
  transition-delay: 5s;
}
.nav-bar {
  position: fixed;
  top: 0;
  margin-left: 32%;
  width:30%;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.3); /* transparent white */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);  
  z-index: 999;
  margin-top: 10px;
 
}

.nav-bar ul {
  list-style: none;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.nav-bar li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.5s ease;
}

.nav-bar li a:hover {
  color: rgb(55, 50, 47);

}

/* Footer */
footer {
  text-align: center;
  margin-top: 50px;
  font-size: 0.9rem;
  color: #666;
}
